{% extends 'base.html' %}
{% block content %}

    <h2>{{ movie.title }}</h2>
    <ul>
      <li>
          Released: {{ movie.released_at }}
      </li>
      <li>
          <a href="{{ movie.imdb_url }}">IMDB</a>
      </li>
      <li>
          Average rating: {{ '{:.2f}'.format(avg_rating) }}
      </li>
      <li>
        {% if user_rating %}
          You rated this movie {{ user_rating.score }}.
        {% endif %}

        {% if prediction %}
          We predict you'll rate this movie {{ '{:.2f}'.format(prediction) }}.
        {% endif %}
      </li>
        {% if beratement %}
          <li>
            The Evil Eye says: {{beratement}}
          </li>
        {% endif %}
    </ul>

    {% if session.get("user_id") %}
      <form action="/process_rating" method="POST">
        <input type="number" min="1" max="5" name="new_rating" placeholder="1-5"> 
        <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
        <input type="submit" value="Submit Rating!">
      </form>
    {% endif %}

   <table>
    <tr>
      <th>Ratings</th>
    </tr>
    {% for movie_rating in movie_ratings %}
        <tr>
          <td>
            {{movie_rating.score}}  
          </td>
        </tr>
    {% endfor %}  
  </table>  

    

{% endblock %}


                            movie=movie,
                                    movie_ratings=movie_ratings,
                            avg_rating=avg_rating,
                            user_rating=user_rating,
                            prediction=prediction)